activation_codes.csv
device_activation.log
people_list.csv
.env
.idea/
./output
./input
./logs
/input/device_activation.csv
/input/deviceinput.csv
/input/deviceinput2.csv
/input/deviceinputmeet.csv
/output/output.csv
/output/outputtest.csv
/input/people_listtest.csv
/output/results.csv
/input/workspaces.csv
/logs/wxcadm_tests.log
input/.DS_Store
output/meeting-activation-results.csv
